<%= render "banner" %>
<div class="dino-container m-2">
  <div data-controller="actualize-tag">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 tags">
        <% Dinosaur::TAGS.each do |tag| %>
          <%= link_to tag, dinosaurs_path(tag: tag), class: "button ", id:"tag-#{tag}",
                      data: {
                      action: 'click->actualize-tag#send'
                    }%>
        <% end %>
        <%= render "image" %>
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <%= render "map" %>
      </div>
    </div>
  </div>
  <div class = 'container'>
    <%= image_tag("Geological_Time.jpeg", style: "width: 100%;") %>
  </div>
</div>
<%= render "footer" %>
