<%= render "banner" %>
<div class="dino-container m-2">
  <div class="dino-tag">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <% Dinosaur::TAGS.each do |tag| %>
          <%= link_to tag, dinosaurs_path(tag: tag), class: "btn btn-primary tag-btn" %>
        <% end %>
        <% if @dino.present? %>
          <%= image_tag(@dino.photo, style: "width: 100%;") %>
          <h3><%= @count %> <%= @tag %> were found. </h3>
        <% end %>
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <%= render "map" %>
      </div>
    </div>
  </div>
  <div class = 'container'>
    <%= image_tag("Geological_Time.jpeg", style: "width: 100%;") %>
  </div>
</div>
<%= render "footer" %>
